<% provide(:title, 'Log in') %>
<h1 class="center">Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 well">
  	<%= simple_form_for(:session, url: login_path, html: { class: 'form-vertical'}) do |f| %>
     
  	  <%= f.input :email, :error => false %>
  	  <%= f.input :password, :error => false %>
  	  
	    <%= f.input :remember_me, as: :boolean %>
	  
  	  <%= f.button :submit, "Log In", class: "btn-primary" %>
  	<% end %>

  	<p>
      New user? <%= link_to "Sign up now!", signup_path %>
      <%= link_to "forgot password?", new_password_reset_path, class: "pull-right" %>
    </p>
  </div>	
</div>
